body {
    background-color: #fef9ea;
    padding: 30px;
}

.container {
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.display-5 {
    text-align: center;
    color: #00660a;
    background: #ffecb1;
    border-radius: 15px;
}

hr {
    border: 2px solid darkgreen;
    width: 100%;
}

label {
    color: green;
    font-weight:500
}

.display-6 {
    text-align: center;
    border-radius:  5px;
}